// Custom styles.

// decrease header-inner distance
.header-inner {
	padding: 100px 0 20px;
}

// decrease margin between top of the post and head in homepage
.posts-expand .post-meta {
	margin: 10px 0 10px 0;
}
// decrease margin between top of the post and head in postpage
.posts-expand {
  padding-top: 0px;
}
// decrease margin between the post context and h1 in postpage
.post-body h1 {
  margin: 0 0 15px 0;
}
// change margin of paragraph spacing
.post-body p {
  margin-bottom: 0.8em; 
}

.pagination {
  margin: 50px 0 40px;
}

// the style of footnotes
.footnotes {
 li {
//  font-size: $font-size-small;
  font-size: 13px;
  line-height: 1.6;
  }
  p {
  text-indent: 0.5em;
  margin-top: 0em;
  margin-bottom: 0.5em;
 }}

// the style of footnotes when hocked up
.footnoteTip {
 position: absolute;
 width: 200px;
 text-align: center;
 background-color: #FFFFE0;
 border: 1px solid #636363;
 padding: 5px;
 font-size: 12px;
 lineHeight: 1.8;
 border-radius: 5px;
 p {
  text-indent: 0em;
  margin-top: 0em;
  margin-bottom: 0.5em;
 }}

// not indented in first line using blockquote 
blockquote { 
  margin-bottom: 0.8em;
  line-height: $line-height-code-block;
  font-size: 15px;
  font-family: "Microsoft YaHei", Menlo, "PingFang SC", monospace;
  //background-color: $gainsboro;
  border-left: 4px solid #42B983;
 p {
//  text-indent: -2em;
  display: inline;
 }}

// the color of inline code using backquote #7851a9
code { color: #ec7f00; }

// image in sidebar with circle and rotation and hypelink
.site-author-image {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
	max-width: 200px;
    transition: transform 1.0s ease-out;
}
.posts-expand .post-body img:hover {
    transform: initial;
}

// the color of hypelink in sidebar
.sidebar a {
    color: #ccc;
}
.sidebar a:hover {
    color: rgb(255, 255, 255);
}

/* 
// prevent text expand in post
.posts-expand .post-body {
    text-align: initial;
}

// custom style of the article code block
code {
    margin: 0px 4px;
}
// the color of hypelink in code block
.highlight figcaption a {
    color: rgb(80, 115, 184);
}
// the top style of the article code block
.highlight figcaption {
    margin: 0em;
    padding: 0.5em;
    background: #eee;
    border-bottom: 1px solid #e9e9e9;
}
// add rounded code block
.highlight { border-radius: 5px;}
pre { border-radius: 5px;}
// diff style of code block
pre .addition {
    background: #e6ffed;
}
pre .deletion {
    background: #ffeef0;
}

// beating heart in footer icon
@keyframes heartAnimate {
    0%,100%{transform:scale(1);}
    10%,30%{transform:scale(0.9);}
    20%,40%,60%,80%{transform:scale(1.1);}
    50%,70%{transform:scale(1.1);}
}
#heart {
    animation: heartAnimate 1.33s ease-in-out infinite;
}
.with-love {
    color: rgb(255, 113, 168);
}
*/
