// Custom styles.

.post-toc {
  ol {
    font-size: 14px !important;
	}
}

.site-author-image {
opacity: 1;
}

# inline code

code { 
color: #ec7f00; 
}

# codeblock

figcaption {
font-size: 14px;
}

.copy-btn {
top: initial !important;
bottom: 16px;
}

# blockquote

blockquote { 
  line-height: $line-height-code-block;
  //font-size: 14px;
  font-family: "Microsoft YaHei", Menlo, "PingFang SC", monospace;
  //background-color: $gainsboro;
  border-left: 4px solid #42B983;
  }


// decrease header-inner distance
.header-inner {
	padding: 100px 0 20px;
}

// decrease margin between top of the post and head in homepage
.posts-expand .post-meta {
	margin: 10px 0 10px 0;
}
// decrease margin between top of the post and head in postpage
.posts-expand {
  padding-top: 0px;
}
// decrease margin between the post context and h1 in postpage
.post-body h1 {
  margin: 0 0 15px 0;
}
// change margin of paragraph spacing
.post-body p {
  margin-bottom: 0.8em; 
}

.pagination {
  margin: 50px 0 40px;
}

// the style of footnotes
.footnotes {
 li {
//  font-size: $font-size-small;
  font-size: 13px;
  line-height: 1.6;
  }
  p {
  text-indent: 0.5em;
  margin-top: 0em;
  margin-bottom: 0.5em;
 }}
// the style of footnotes when hocked up
.footnoteTip {
 position: absolute;
 width: 200px;
 text-align: center;
 background-color: #FFFFE0;
 border: 1px solid #636363;
 padding: 5px;
 font-size: 12px;
 lineHeight: 1.8;
 border-radius: 5px;
 p {
  text-indent: 0em;
  margin-top: 0em;
  margin-bottom: 0.5em;
 }}

// the color of hypelink in sidebar
.sidebar a {
    color: #ccc;
}
.sidebar a:hover {
    color: rgb(255, 255, 255);
}

/* 
// prevent text expand in post
.posts-expand .post-body {
    text-align: initial;
}
*/
