// Custom styles.

// 文章预览正文的顶部与标题行的默认间距
.posts-expand .post-meta {
	margin: 10px 0 10px 0;
}
// prevent text expand
.posts-expand .post-body {
    text-align: initial;
}

.post-body h1 {
  margin: 0 0 15px 0;
}

// 调整段落下部间距
.post-body p {
  margin-bottom: 0.8em; 
}

// 脚注 字体 间距
.footnotes {
 li {
//  font-size: $font-size-small;
  font-size: 13px;
  line-height: 1.6;
  }
 p {
  text-indent: 0.5em;
  margin-top: 0em;
  margin-bottom: 0.5em;
 }}

// 脚注 Tip 显示
.footnoteTip {
 position: absolute;
 width: 200px;
 text-align: center;
 background-color: #FFFFE0;
 border: 1px solid #636363;
 padding: 5px;
 font-size: 12px;
 lineHeight: 1.8;
 border-radius: 5px;
 p {
  text-indent: 0em;
  margin-top: 0em;
  margin-bottom: 0.5em;
 }}

// 文章代码块的自定义样式
code {
    margin: 0px 4px;
}
// 文章代码块顶部样式
.highlight figcaption {
    margin: 0em;
    padding: 0.5em;
    background: #eee;
    border-bottom: 1px solid #e9e9e9;
}
.highlight figcaption a {
    color: rgb(80, 115, 184);
}

// 文章代码块加圆角
.highlight { border-radius: 5px;}
pre { border-radius: 5px;}
 
// 文章代码块diff样式
/* 
pre .addition {
    background: #e6ffed;
}
pre .deletion {
    background: #ffeef0;
}
*/
 
// 块引用样式首行不缩进
blockquote { 
  margin-bottom: 0.8em;
  line-height: $line-height-code-block;
  font-size: 15px;
  font-family: "Microsoft YaHei", Menlo, "PingFang SC", monospace;
  //background-color: $gainsboro;
  border-left: 4px solid #42B983;
 p {
//  text-indent: -2em;
  display: inline;
 }}

// 行内代码颜色 #7851a9
code { color: #ec7f00; }

// 侧栏头像（圆形以及旋转效果）
.site-author-image {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    transition: transform 1.0s ease-out;
}
.posts-expand .post-body img:hover {
    transform: initial;
}

// 侧栏超链接样式（友链的样式）
.sidebar a {
    color: #ccc;
}
.sidebar a:hover {
    color: rgb(255, 255, 255);
}

// 自定义页脚跳动的心样式
@keyframes heartAnimate {
    0%,100%{transform:scale(1);}
    10%,30%{transform:scale(0.9);}
    20%,40%,60%,80%{transform:scale(1.1);}
    50%,70%{transform:scale(1.1);}
}
#heart {
    animation: heartAnimate 1.33s ease-in-out infinite;
}
.with-love {
    color: rgb(255, 113, 168);
}
