// font-size
$font-size-base = 16px;
// Global link color.
$link-color = #4078c0
// $footer-height                  = 40px

//  .post-expand .post-eof
//  In Muse scheme, margin above and below the post separator
$post-eof-margin-top          = 50px  //  or 160px for more white space
$post-eof-margin-bottom       = 50px  //  or 120px for less white space